html {
  scroll-behavior: smooth; //для плавного перемещения
}
.btn {
  background-color: DarkSlateBlue;
  color: Snow;
}
.line-through {
  text-decoration: line-through;
}
.line-through:hover {
  text-decoration: line-through;
}
.up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 5px solid DarkSlateBlue;
  border-radius: 50%;
  color:  DarkSlateBlue;
  display: none;
  cursor: pointer;
}


.shown {
  display: inline-block;
}
