html {
  scroll-behavior: smooth; /* для плавного перемещения */
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* to fixed footer */
body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.col {
  height: 2em;
  padding: 1em 5em 1em 1em;
  flex-shrink: 0; /* to fixed footer */
}


.btn {
  background-color: DarkSlateBlue;
  color: Snow;
}
.line-through {
  text-decoration: line-through;
}
.line-through:hover {
  text-decoration: line-through;
}
.up-button {
  position: fixed;
  z-index: 1;
  background-image: url(../images/up.svg);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 75px;
  right: 20px;
  width: 64px;
  height: 64px;
  vertical-align: middle;
  border: 5px solid DarkSlateBlue;
  border-radius: 50%;
  color:  DarkSlateBlue;
  display: none;
  cursor: pointer;
}

.shown {
  display: inline-block;
}

.hidden {
  display: none;
}

.important {
  background-color: lightpink;
  font-weight: bold;
  color: crimson;
}

.btn.warning {
  background-color: crimson;
  color: Snow;
}

button.delete {
  display: none
}

li:hover:not(.hidden),
.list-group-item:not(.hidden) {
  display: flex;
  cursor: pointer;
}

li:hover>button.delete {
  display: flex;
  margin-left: auto;
  border: none;
  background-color: transparent;
  background-image: url(../images/del.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .up-button {
    display: none !important;
  }
}